<nav class="flex items-center justify-between max-w-[1280px] mx-auto my-[30px]">
    <a href="/" class="text-3xl font-bold">HOME</a>
    <div class="flex items-center justify-center gap-[20px]">
        <a href="/car/fiat125p" class="hover:border-b-[1px] border-b-0 border-b-black">Fiat 125P</a>
        <a href="/car/lada1300" class="hover:border-b-[1px] border-b-0 border-b-black">Lada 1300</a>
        <a href="/car/dacia1300" class="hover:border-b-[1px] border-b-0 border-b-black">Dacia 1300</a>
        <a href="/car/skoda_favorit" class="hover:border-b-[1px] border-b-0 border-b-black">Skoda Favorit</a>
        <a href="/auth" class="bg-blue-200 px-4 py-2">Login</a>
        <a href="/auth" class="bg-green-200 px-4 py-2">Register</a>
        <p class="bg-red-200 px-4 py-2" id="logout">Log out</p>
    </div>
</nav>


<script>
    document.querySelector("#logout").addEventListener('click', () => {
        document.cookie="email=undefined;path=/;Max-Age=0"
    })
</script>